

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.f-between{
    justify-content: space-between;
}

.container{
    width: 65%;
    margin: auto;
}

/* header */
header *{
    vertical-align: middle;
}
header section{
    vertical-align: middle;
    padding: 1em;
}

header a{
    padding: 10px 15px;
}

button{
    padding: 5px 10px;
}

/* main */
/* Free trial */

.cyan-bg{
    background-color: #B4D0E7;
}

#overlap{
    position: relative;
    bottom: -80px;
}

#free-trial{
    padding-top: 4vh;
    position: relative;
}

#free-trial > img{
width: 70%;    
}

#free-trial button, div, p{
    margin-bottom: 3vh;
}

#free-trial p{
    font-size: 120%;
}

#h-large{
    font-size: 5em;
}

#arrow{
    width: 3%;
    position: absolute;
    bottom: 85px;
}

/* subscription plan */

#plan{
    padding-top: 10vh
}

#plan > span, h1{
    margin-right: 40px;
}

.item{
    border: 1px solid;
    margin: 4vh 0;
}

.small{
    flex-basis: 30%;
}

.huge{
    flex-basis: 100%;
}



.cont-head{
    border-bottom: 1px solid;
    text-align: center;
}

.cont-body, .sub-foot{
    padding: 0 5%;
}

.cont-body button{
    padding: 10px 5vw;
    margin: auto;
    margin-bottom: 30px;
}

.sub-decoration{
    width: 20%;
    border-top: 1px solid;
    margin-left: 5%;
}

.sub-foot{
    line-height: 2em;
}

ul{
    list-style: none;
}

#office{
    position: relative;
}

#b-office{
    top: 40px;
    right: 20px;
    position: absolute;
}